ion-header {
  .top_image {
      position: absolute;
  }
  ion-toolbar {
      --background: transparent !important;
  }
  ion-back-button {
      color: white;
      margin: 40px 0 0 10px;
  }
  ion-title {
    margin-top: 20px;
    color: white;
  }
}

ion-content {
  background: #444444;
  ion-grid {
    margin: 40px 15px 15px 15px;
    border-radius: 20px;
    background: #eeeeee;
    .userimage {
      text-align: center;
    }
    ion-label {
      color: #F9942C;
    }
    .btn_change {
        --background: #F9942C;
        --background-activated: #D7720A;
        color: #FFFFFF;
        margin: 15px 0 10px -5px;
        width: 100%;
        height: 50px;
    }
  }
}