<ion-header>
  <img src="assets/imgs/top_image.png" class="top_image">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Add Contest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="contestInfo">
          <ion-button (click)="selectImage()">Select Image</ion-button>
          <!-- <video controls *ngIf="detailContest.media && detailContest.media.indexOf('mp4') != -1" class="titleImage">
            <source [src]="imageBaseUrl + detailContest.media" type="video/mp4">
          </video>
          <ion-img *ngIf="detailContest.media && detailContest.media.indexOf('mp4') == -1" [src]="imageBaseUrl + detailContest.media"  class="titleImage" alt="yes"></ion-img>
          <ion-img *ngIf="!detailContest.media" [src]="placeholderImage"  class="titleImage" alt="ok"></ion-img> -->
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="contestInfo">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Contest Name</ion-label>
        </div>
        <ion-input class="info1" [(ngModel)]="title" placeholder="Contest Name"></ion-input>
      </ion-col>
      <ion-col size="12">
        <div class="contestInfo">
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-label>Date</ion-label>
        </div>
        <!-- <ion-label class="info1">{{detailContest.start_date}}</ion-label> -->
        <ion-datetime class="info1" placeholder="Start Date" displayFormat="MM-DD-YYYY" [(ngModel)]="startDate"></ion-datetime>
        <ion-datetime class="info1" placeholder="Start Time" displayFormat="MM-DD-YYYY" [(ngModel)]="endDate"></ion-datetime>
      </ion-col>
      <ion-col size="12">
        <div class="contestInfo">
          <ion-icon name="time-outline"></ion-icon>
          <ion-label>Time</ion-label>
        </div>
        <!-- <ion-label class="info1">{{detailContest.start_time}} till {{detailContest.end_time}}</ion-label> -->
        <ion-datetime class="info1" placeholder="End Date" displayFormat="hh:mm A" [(ngModel)]="startTime"></ion-datetime>
        <ion-datetime class="info1" placeholder="End Time" displayFormat="hh:mm A" [(ngModel)]="endTime"></ion-datetime>
      </ion-col>
      <ion-col size="12">
        <div class="contestInfo">
          <ion-icon name="star-outline"></ion-icon>
          <ion-label>Points</ion-label>
        </div>
        <!-- <ion-label class="info1">{{detailContest.start_time}} till {{detailContest.end_time}}</ion-label> -->
        <ion-input class="info1" type="number" [(ngModel)]="points" placeholder="0"></ion-input>
      </ion-col>
      <ion-col size="12">
        <div class="contestInfo">
          <ion-icon name="bulb-outline"></ion-icon>
          <ion-label>Amount</ion-label>
        </div>
        <!-- <ion-label class="info1">{{detailContest.start_time}} till {{detailContest.end_time}}</ion-label> -->
        <ion-input class="info1" type="number" [(ngModel)]="amount" placeholder="0"></ion-input>
      </ion-col>
      <ion-col size="12">
        <div class="contestInfo">
          <ion-icon name="eye-outline"></ion-icon>
          <ion-label>Views</ion-label>
        </div>
        <!-- <ion-label class="info1">{{detailContest.start_time}} till {{detailContest.end_time}}</ion-label> -->
        <ion-input class="info1" type="number" [(ngModel)]="views" placeholder="0"></ion-input>
      </ion-col>
      <ion-col size="12">
        <div class="contestInfo">
          <ion-icon name="podium-outline"></ion-icon>
          <ion-label>Contest Type</ion-label>
        </div>
        <!-- <ion-label class="info1">{{detailContest.start_time}} till {{detailContest.end_time}}</ion-label> -->
        
        <ion-select class="info1" value="free" [(ngModel)]="contestType">
          <ion-select-option value="free">free</ion-select-option>
          <ion-select-option value="money">money</ion-select-option>
          <ion-select-option value="point">point</ion-select-option>
          <ion-select-option value="sponsor">sponsor</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="12">
        <ion-button class="btn_add" (click)="addContest()">ADD</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
