<ion-content class="">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <img src="assets/imgs/main_image.png" class="main_imgage">
            </ion-col>
            <div class="main_content">
                <ion-col size="12">
                    <p class="label1">Find new friends</p>
                </ion-col>
                <ion-col size="12">
                    <p class="label2">nearby and win prizes</p>
                </ion-col>
                <ion-col>
                    <p class="label3">With millions of users all over the world, we give you the ability to connect with people and win prizes no matter where you are.</p>
                </ion-col>
                <ion-col size="12">
                    <ion-button class="login_btn">LOGIN</ion-button>
                </ion-col>
                <ion-col size="12">
                    <ion-button class="signup_btn">SIGN UP</ion-button>
                </ion-col>
            </div>
        </ion-row>
    </ion-grid>
</ion-content>