ion-header {
  .top_image {
      background-image: url('../../assets/imgs/top_image.png');
      position: absolute;
  }
  ion-toolbar {
      --background: transparent !important;
  }
  ion-title {
    margin-top: 10px;
    color: white;
  }
}

.header-md::after {
  height: 0px !important;
}

ion-content {
  ion-grid {
    margin-top: 150px;
    .userimage {
      text-align: center;
      margin: 0 auto;
      width: 150px;
      border-radius: 50%;
      /* overflow: hidden; */
      border: 1px solid;
    }
  }
  .card_images {
    width: 70px;
    height: 57px;
  }
  ion-card {
    // width: 100px;
    text-align: center;
    margin: 0 !important;
  }
}