ion-header {
  .top_image {
      background-image: url('../../assets/imgs/top_image.png');
      position: absolute;
  }
  ion-toolbar {
      --background: transparent !important;
  }
  ion-title {
    margin-top: 10px;
    color: white;
  }
}

.header-md::after {
  height: 0px !important;
}

ion-content {
  ion-grid {
    background: #EEEEEE;
    margin: 150px 5px 5px 5px;
    .userimage {
      text-align: center;
      img {
        margin: 0 auto;
        width: 150px;
        border-radius: 50%;
        /* overflow: hidden; */
        border: 1px solid;
      }
    }
    .statistic{
      display: flex;
      text-align: center;
      ion-col{
        div:first-child {
          font-size: 20px;
        }
      }
      .sub_sta {    
        padding-top: 10px;
        font-size: 16px !important;
        margin: 0 auto;
        color: white;
        width: 100px;
        height: 100px;
        background: #F9942C;
        border-radius: 50%;
      }
    }
  }
  .card_images {
    width: 70px;
    height: 57px;
  }
  ion-card {
    // width: 100px;
    text-align: center;
    margin: 0 !important;
  }
}