<ion-header>
  <img src="assets/imgs/top_image.png" class="top_image">
  <div class="header">
    <ion-title>Chat</ion-title>
    <!-- <ion-icon name="add-outline" routerLink="/selectfriends"></ion-icon> -->
  </div>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button class="received" (click)="onFriends()">Friends</ion-button>
        <ion-button class="sent" (click)="onGlimpsters()">Glimpsters</ion-button>
      </ion-col>
      <ion-col size="12" *ngIf="friends" class="record">
        <ion-label *ngIf="countFriend == 0 || isFriend.length == 0">No Friends Found</ion-label>

        <div *ngIf="countFriend > 0" class="friend">
          <div *ngFor="let otheruser of otherusers" class="subdiv">
            <div *ngIf="isFriend[otheruser.id]">
              <div (click)="goChatRoom(otheruser)">
                <ion-img [src]="otheruser.image == '' ? placeholderImage : imageBaseUrl+otheruser.image"></ion-img>
              </div>
              <ion-label>{{otheruser.username}}</ion-label>
            </div>
          </div>
        </div>
        
        <!-- <ion-card *ngFor="let otheruser of otherusers" *ngIf="otheruser.id == true">
          <div (click)="goChatRoom(otheruser)">
            <ion-img [src]="otheruser.image == '' ? placeholderImage : imageBaseUrl+otheruser.image"></ion-img>
          </div>
          <ion-label>{{otheruser.username}}</ion-label>
          <ion-icon [name]="isFriend[otheruser.id] ? 'heart' : 'heart-outline'" (click)="makeFriend(otheruser.id)"></ion-icon>
        </ion-card> -->
      </ion-col>
      <ion-col size="12" *ngIf="glimpsters" class="record">
        <ion-card *ngFor="let otheruser of otherusers" >
          <div (click)="goChatRoom(otheruser)">
            <ion-img [src]="otheruser.image == '' ? placeholderImage : imageBaseUrl+otheruser.image"></ion-img>
          </div>
          <ion-label>{{otheruser.username}}</ion-label>
          <ion-icon [name]="isFriend[otheruser.id] ? 'heart' : 'heart-outline'" (click)="makeFriend(otheruser.id)"></ion-icon>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>