<ion-header>
  <img src="assets/imgs/top_image.png" class="top_image">
  <div class="header">
    <ion-title>Chat</ion-title>
    <ion-icon name="add-outline" routerLink="/selectfriends"></ion-icon>
  </div>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button class="received" >Friends</ion-button>
        <ion-button class="sent" >Glimpsters</ion-button>
      </ion-col>
      <ion-col size="12" *ngIf="saved" class="record">
        <ion-label>No Saved Business Card</ion-label>
      </ion-col>
      <ion-col size="12" *ngIf="pending" class="record">
        <ion-label>No Pending Request</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>