ion-header {
  .top_image {
      position: absolute;
  }
  .header {
    margin-top: 20px;
    align-items: center;
    display: flex;
    text-align: center;
  }
  ion-icon {
    color: white;
    font-size: 25px;
    margin-right: 10px;
  }
  ion-toolbar {
    --background: transparent !important;
  }
  ion-back-button {
      color: white;
      margin: 40px 0 0 10px;
  }
  ion-title {
    // margin-top: 20px;
    color: white;
  }
}
.header-md::after {
  height: 0px !important;
}

ion-grid {
  background-color: #EEEEEE;
  margin: 75px 10px;
  border-radius: 10px;
  height: 100%;
  ion-tabs {
    height: 70px;
  }
  ion-tab-bar {
    height: 70px;
    margin: 10px 40px;
    border: 1px solid #F9942C;
  }
  ion-tab-button {
    --background-focused: #D7720A;
    // --background-clicked: #D7720A;
  }
}