ion-header {
  background-image: url('../../assets/imgs/top_image.png');
  ion-title {
    color: white;
    margin-top: 40px;
  }

  ion-toolbar {
      --background: transparent !important;
  }

  .post_create {
    --background: #F9942C;
    --background-activated: #D7720A;
    color: #FFFFFF;
    height: 50px;
  }
  .activeContest {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #EEEEEE;
    margin-top: 90px;
    ion-img {
      width: 60px;
      height: 60px;
    }
  }
  .viewAll {
    float: right;
  }
}

ion-content {
  ion-img {
    border-radius: 10px;
    margin: 20px auto;
    width: 90%;
    overflow: hidden;
  }
  ion-textarea {
    // height: 100%;
    background: azure;
    height: 25%;
    width: 90%;
    margin: 0 auto;
  }
  
}