<ion-header>
    <img src="assets/imgs/top_image.png" class="top_image">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="loginForm" (ngSubmit)="doLogin(loginForm.value)">
        <ion-grid>
            <ion-row>
                <ion-col size="12" class="logo_wrap">
                    <img src="assets/imgs/logo.png" class="logo_image" />
                </ion-col>
                <ion-col size="12" class="space">
                    <ion-label>Email address</ion-label>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-input type="text" formControlName="email"></ion-input>
                    </ion-item>

                    <ng-container>
                        <p class="errp" *ngIf="loginForm.get('email').hasError('required') && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                            <ion-icon class="erricon" name="information-circle-outline"></ion-icon>This fields is required
                        </p>
                    </ng-container>
                </ion-col>
                <ion-col size="12" class="space">
                    <ion-label>Password</ion-label>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-input [type]="passwordType" formControlName="password" clearOnEdit="false"></ion-input>
                        <ion-icon name="eye" [color]="passwordShown === true ? 'dark' : 'medium' " item-end (click)="togglePassword()"></ion-icon>
                    </ion-item>

                    <ng-container>
                        <p class="errp" *ngIf="loginForm.get('password').hasError('required') && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                            <ion-icon class="erricon" name="information-circle-outline"></ion-icon>This fields is required
                        </p>
                    </ng-container>
                </ion-col>
                <ion-col size="12" class="wrap">
                    <ion-button class="login_btn" type="submit" [disabled]="!loginForm.valid">LOGIN</ion-button>
                </ion-col>
                <ion-col size="12" class="wrap">
                    <span>Need an account? </span> &nbsp;&nbsp;&nbsp;
                    <span class="span_signup" routerLink="/signup">SIGN UP</span>
                </ion-col>
                <ion-col size="12" class="wrap">
                    <span>Forgor password</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>