<ion-header>
    <img src="assets/imgs/top_image.png" class="top_image">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Contests</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <div class="upcoming">Upcoming contest</div>
      <ion-card class="contests">
        <img src="../../assets/imgs/logo.png"/>
        <div>aaa</div>
      </ion-card>
      <div>Past contests</div>
      <ion-card *ngFor="let allcontest of allcontests" class="contests">
        <img src={{allcontest.imageurl}}/>
        <div>{{allcontest.content}}</div>
      </ion-card>
      <!-- <img src/> -->
    </ion-col>
  </ion-row>
</ion-content>
