ion-header {
  .top_image {
      position: absolute;
  }
  ion-toolbar {
      --background: transparent !important;
  }
  ion-back-button {
      color: white;
      margin: 40px 0 0 10px;
  }
  ion-title {
    margin-top: 20px;
    color: white;
  }
}

ion-content {
  .contests {
    display: flex;
    img {
      width: 100px;
    }
  }
  .upcoming {
    margin-top: 30px;
  }
}