<ion-header>
    <img src="assets/imgs/top_image.png" class="top_image">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Contests</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="comingUser != ''">
    <ion-col size="12">
      <div class="upcoming title">Upcoming contest</div>
      <ion-card class="contests" >
        <ion-img [src]="comingImage" alt="Upcoming Image"></ion-img>
        <div>
          <ion-label>{{comingTitle}}</ion-label>
          <ion-label>Hosted by : {{comingUser}}</ion-label>
          <ion-label>{{comingDateTime}}</ion-label>
        </div>
      </ion-card>
      <div class="title">Past contests</div>
      <ion-card *ngFor="let allcontest of pastContest" class="contests">
        <div class="wrap_image">
          <video width="100" height="100" controls *ngIf="allcontest.media && allcontest.media.indexOf('mp4') != -1">
            <source [src]="imageBaseUrl + allcontest.media" type="video/mp4">
          </video>
          <ion-img *ngIf="allcontest.media && (allcontest.media.indexOf('jpg') || allcontest.media.indexOf('png'))" [src]="imageBaseUrl + allcontest.media" alt="Past Image"></ion-img>
          <ion-img *ngIf="!allcontest.media" [src]="placeholderImage" alt="PastImage"></ion-img>
        </div>
        <div>
          <ion-label>{{allcontest.title}}</ion-label>
          <ion-label>Hosted by : {{allcontest.username}}</ion-label>
          <ion-label>{{allcontest.start_date + " at " + allcontest.start_time + " (GMT)"}}</ion-label>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
