<ion-header>
	<img src="assets/imgs/top_image.png" class="top_image">
	<ion-title>User Location</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="imagewrap">
		<div *ngFor="let userLocation of userLocations" class="">
			<ion-label>{{userLocation.username}}</ion-label>
			<ion-img *ngIf="userLocation.image != ''" [src]="imageBaseUrl + userLocation.image"></ion-img>
			<ion-img *ngIf="userLocation.image == ''" [src]="placeholderImage" class="placeholder"></ion-img>
			<ion-label>{{distanceBetween(userLocation)}}</ion-label>
		</div>
	</div>
</ion-content>