<ion-header class="top_image">
  <ion-row>
    <ion-col size="12" class="icon_wrap">
      <ion-icon name="earth-outline" class="world"></ion-icon>
      <ion-searchbar></ion-searchbar>
      <ion-icon name="person-circle-outline" routerLink="/profile"></ion-icon>
    </ion-col>
    <ion-col size="12" class="activeContest">
      <span>Contests</span>
      <span class="viewAll" (click)="viewAll()">View all</span>
      <!-- <div *ngFor="let allcontest of upcomingContest" class="upcomingContest" (click)="detailContest(allcontest)">
        <ion-label>{{allcontest.username}}</ion-label>

        <video controls *ngIf="allcontest.media && allcontest.media.indexOf('mp4') != -1" class="upcomoing">
          <source [src]="imageBaseUrl + allcontest.media" type="video/mp4">
        </video>
        <ion-img *ngIf="allcontest.media && (allcontest.media.indexOf('jpg') || allcontest.media.indexOf('png'))" [src]="imageBaseUrl + allcontest.media" alt="Past Image" class="upcomoing"></ion-img>
        <ion-img *ngIf="!allcontest.media" [src]="placeholderImage" alt="PastImage" class="upcomoing"></ion-img>

        <ion-label>{{allcontest.start_date}}</ion-label>
        <ion-label>{{allcontest.start_time}}</ion-label>
      </div> -->
    </ion-col>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12">
      <div class="user_info">
        <div><img src="../../assets/imgs/profile/avatar.png" class="avatar"/></div>
        <div>
          <div class="username">username <ion-icon name="earth-outline" ></ion-icon></div>
          <div class="postdate">date</div>
        </div>
        <div class="wrap_icon">
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </div>
      </div>
    </ion-col>
    <ion-col size="12">
      <img src="../../assets/imgs/glimpster.png" class="postimage"/>
    </ion-col>
    <ion-col size="12" class="iconwrap">
      <div><ion-icon name="heart-outline"></ion-icon><span>1</span></div>
      <div><ion-icon name="mail-outline"></ion-icon>2</div>
      <div><ion-icon name="send-outline"></ion-icon></div>
    </ion-col>
    <ion-col size="10" class="sendwrap">
      <ion-input type="text"></ion-input>
      <span item-right><ion-icon name="send"></ion-icon></span>
    </ion-col>
  </ion-row>
</ion-content>
