<ion-header class="top_image">
  <!-- <img src="assets/imgs/top_image.png" class="top_image"> -->
  <div class="icon_wrap">
    <ion-icon name="earth-outline" class="world"></ion-icon>
    <ion-searchbar></ion-searchbar>
    <ion-icon name="person-circle-outline"></ion-icon>
  </div>
  <div class="activeContest">
    <span>Contests</span>
    <span class="viewAll" routerLink="/all-contests">View all</span>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12">
      <div class="user_info">
        <div><img src="../../assets/imgs/profile/avatar.png" class="avatar"/></div>
        <div>
          <div class="username">username <ion-icon name="earth-outline" ></ion-icon></div>
          <div class="postdate">date</div>
        </div>
        <div class="wrap_icon">
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </div>
      </div>
    </ion-col>
    <ion-col size="12">
      <img src="../../assets/imgs/glimpster.png" class="postimage"/>
    </ion-col>
    <ion-col size="12" class="iconwrap">
      <div><ion-icon name="heart-outline"></ion-icon><span>1</span></div>
      <div><ion-icon name="mail-outline"></ion-icon>2</div>
      <div><ion-icon name="send-outline"></ion-icon></div>
    </ion-col>
    <ion-col size="10" class="sendwrap">
      <ion-input type="text"></ion-input>
      <span item-right><ion-icon name="send"></ion-icon></span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button class="signup_btn">SIGN UP</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button class="signup_btn">SIGN UP</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button class="signup_btn">SIGN UP</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button class="signup_btn">SIGN UP</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button class="signup_btn">SIGN UP</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button class="signup_btn">SIGN UP</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button class="signup_btn">SIGN UP</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button class="signup_btn">SIGN UP</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button class="signup_btn">SIGN UP</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button class="signup_btn">SIGN UP</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button class="signup_btn">SIGN UP</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button class="signup_btn">SIGN UP</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button class="signup_btn">SIGN UP</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button class="signup_btn">SIGN UP</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button class="signup_btn">SIGN UP</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button class="signup_btn">SIGN UP</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button class="signup_btn">SIGN UP</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
