<ion-header>
  <img src="assets/imgs/top_image.png" class="top_image">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Gifts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button class="received" (click)="onReceived()">Received</ion-button>
        <ion-button class="sent" (click)="onSent()">Sent</ion-button>
      </ion-col>
      <div *ngIf="received" style="width: 100%;">
        <ion-card *ngFor="let gift of receivedGifts" class="received">
          <ion-card-header>
            <ion-label>Gift : </ion-label>
            <ion-img [src]="imageBaseUrl + gift.giftImage"></ion-img>
            <ion-label class="giftname">{{gift.giftName}}</ion-label>
            <!-- <ion-label>{{gift.gift_date + " " + gift.gift_time}}</ion-label> -->
          </ion-card-header>
          <ion-card-content>
            <ion-label>From : </ion-label>
            <ion-img [src]="imageBaseUrl + gift.sender_image"></ion-img>
            <ion-label class="giftname">{{gift.username}}</ion-label>
          </ion-card-content>
        </ion-card>
      </div>

      <div *ngIf="sent" style="width: 100%;">
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Select Gift</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-radio-group >
                <div *ngFor="let gift of gifts" size="12" class="wrap_gift">
                  <div>
                    <ion-img [src]="imageBaseUrl+gift.giftImage"></ion-img>
                    <ion-label>{{gift.giftName}}</ion-label>
                  </div>
                  <div>
                    <ion-radio slot="start" [value]="gift.id" (click)="radioChecked(gift.id)"></ion-radio>
                  </div>
                </div>
              </ion-radio-group>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title>Select Receiver</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-radio-group>
                <div *ngFor="let otheruser of otherusers" class="receiver">
                  <div>
                    <div>
                      <ion-img [src]="otheruser.image == '' ? placeholderImage : imageBaseUrl+otheruser.image"></ion-img>
                    </div>
                    <ion-label>{{otheruser.username}}</ion-label>
                  </div>
                  <div>
                    <ion-radio [value]="otheruser.id" (click)="radioChecked1(otheruser.id)" slot="start"></ion-radio>
                  </div>
                </div>
              </ion-radio-group>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label>Set Date</ion-label>
            <ion-datetime placeholder="Select Date" displayFormat="MM/DD/YYYY" [(ngModel)]="sendDate"></ion-datetime>
            <!-- <ion-datetime displayFormat="h:mm A"></ion-datetime> -->
          </ion-item>
          <ion-item>
            <ion-label>Set Time</ion-label>
            <ion-datetime placeholder="Select Time" displayFormat="hh:mm A" [(ngModel)]="sendTime"></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size="12" class="wrap">
          <ion-button class="send" (click)="sendGift()">SEND GIFT</ion-button>
        </ion-col>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
