ion-header {
  .top_image {
      position: absolute;
  }
  ion-toolbar {
      --background: transparent !important;
  }
  ion-back-button {
      color: white;
      margin: 40px 0 0 10px;
  }
}


.header-md::after {
  height: 0px !important;
}

ion-content {
  ion-grid {
    background: #EEEEEE;
    padding: 80px 20px;
    .userimage {
      text-align: center;
    }
    ion-label {
      color: #F9942C;
    }
  }
  .logout {
    --background: #F9942C;
    --background-activated: #D7720A;
    --border-radius: 45px;
    --box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    margin: 15px 0 10px -5px;
    width: 100%;
    height: 50px;
  }
}