<ion-header>
  <img src="assets/imgs/top_image.png" class="top_image">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>My Contests</ion-title>
      <!-- <ion-icon name="add-outline"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-button routerLink='/addcontest'>Add New Contest</ion-button>
    <ion-card *ngFor="let myContest of myContests" class="contests" (click)="editContest(myContest)">
      <div class="wrap_image">
        <video width="100" height="100" controls *ngIf="myContest.media && myContest.media.indexOf('mp4') != -1">
          <source [src]="imageBaseUrl + myContest.media" type="video/mp4">
        </video>
        <ion-img *ngIf="myContest.media && (myContest.media.indexOf('jpg') || myContest.media.indexOf('png'))" [src]="imageBaseUrl + myContest.media" alt="Past Image"></ion-img>
        <ion-img *ngIf="!myContest.media" [src]="placeholderImage" alt="PastImage"></ion-img>
      </div>
      <div>
        <ion-label>{{myContest.title}}</ion-label>
        <ion-label>{{myContest.start_date + " at " + myContest.start_time + " (GMT)"}}</ion-label>
      </div>
    </ion-card>
  </ion-grid>
</ion-content>
